// Area Chart
.chart-area {
  position: relative;
  height: 10rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
}

// Bar Chart
.chart-bar {
  position: relative;
  height: 10rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
}

// Pie Chart
.chart-pie {
  position: relative;
  height: 15rem;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: calc(20rem - 43px) !important;
  }
}
.container {
  display: grid;
  height: 400px;
  grid-template-areas: "svg-icon line-1" "svg-icon line-2" "svg-icon line-3";
  grid-template-columns: 4rem;
}
